################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Lab1/bin/Debug
/Lab1/obj/Debug
/ConsoleApp1/obj/Debug
/ProgramTrading/bin/Debug
/ProgramTrading/obj/Debug
/.vs/ProgramTrading/v15/Server/sqlite3
